<mat-toolbar class="toolbar">
    <div class="logo d-flex-r">
        <img
            class="mr-1"
            src="https://img.icons8.com/officel/40/000000/new-message.png">
        <div>
          <a routerLink="/">MyMessages App</a>
        </div>
    </div>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated"><a
        mat-button
        routerLink="/create"
        routerLinkActive="mat-accent"
      >New Post</a></li>
      <li *ngIf="!userIsAuthenticated"><a
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
      >Login</a></li>
      <li *ngIf="!userIsAuthenticated"><a
        mat-button
        routerLink="/signup"
        routerLinkActive="mat-accent"
      >Signup</a></li>
      <li *ngIf="userIsAuthenticated"><button
        mat-button
      >Logout</button></li>
    </ul>
</mat-toolbar>
